/* ==========Hero-section=========== */
.hero {
    padding-top: 80px;
    margin-bottom: 109px;
}
.hero__inner {
    display: flex;
    align-items: center;
    gap: 116px 0;
}
.hero__content {
    max-width: 567px;
}
.hero__title {
    font-family: 'Poppins';
    font-size: 75px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    letter-spacing: -3px;
}
.hero__subtitle-text {
    display: inline-block;
    color: #201f1f33;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2px;
    position: relative;
    margin-left: 74px;
    margin-bottom: 12px;
}
.hero__subtitle-text::before {
    content: '';
    border: 1px solid #201f1f;
    opacity: 0.2;
    position: absolute;
    width: 54px;
    left: -74px;
    top: 35%;
}
.dash {
    display: inline-block;
    background: #201f1f;
    height: 1px;
    max-width: 54px;
}
.hero__title span {
    color: var(--link-accent-color)
}
.hero__text {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18);
    text-align: justify;
    /* margin-bottom: 53px; */
    color: #676767;
    opacity: .7;
}
.hero__text span {
    color: #6155ae;
}
.hero__buttons {
    display: flex;
    gap: 18px;
    padding-top: 53px;
    margin-bottom: 33px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 16.27px;
    font-weight: 500;
    text-transform: capitalize;
}
.button-getStarted {
    max-width: 156px;
    max-height: 59px;
    font-size: 16px;
    flex-shrink: 0;
}
.button-goPro {
    max-width: 110.9px;
    max-height: 59px;
    flex-shrink: 0;
}
.hero__rating-trustpilot {
    display: flex;
    padding-top: 33px;
    align-items: baseline;
    gap: 20px;
}
.hero__rating {
    display: flex;
    gap: 9px;
    flex-shrink: 0;
}

.hero__rating svg {
    max-width: 16px;
}
.hero__dish {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 4%;
}
.hero__img {
    max-width: 429px;
    position: relative;
}
.hero__img img {
    width: 100%;
}
.hero__img::before {
    position: absolute;
    top: -5.5%;
    right: -4.4%;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(137.14deg, rgb(108, 95, 188) 4.832%,rgb(81, 68, 160) 98.221%);
    border-radius: 50%;
    z-index: -1;
}
.hero__img::after {
    position: absolute;
    top: 10%;
    right: -19%;
    content: '';
    background: url(../img/decor/Arrow1.svg) no-repeat;
    background-size: contain;
    object-fit: contain;
    width: 23.6%;
    height: 21.9%;
    z-index: -2;
}
.hero__graph-img {
    display: flex;
    position: absolute;
    bottom: -7%;
    margin-left: -55%;
    max-width: 206px;
    height: 46.5%;
    background-color: #FFFFFF;
    border-radius: 16.76px;
    box-shadow: 14.12px 18.83px 37.65px 0px rgba(26, 32, 44, 0.15);
}
.hero__graph-img::after {
    position: absolute;
    content: '';
    background: url(../img/decor/graphBlows1.svg) no-repeat;
    background-size: contain;
    width: 18.5%;
    height: 33px;
    margin-top: 97%;
    margin-left: -14%;
}
.hero__graph-img img {
    width: 100%;
}
.hero__order-card {
    position: absolute;
    text-align: left;
    top: -14%;
    margin-left: 41%;
    /* right: 5%; */
    width: 328px;
    box-shadow: 0px 16.41px 24.61px 0px rgba(70, 70, 70, 0.05);
}
.hero__order-card::after {
    position: absolute;
    content: '';
    background: url(../img/decor/hero-card-waves.svg) no-repeat;
    background-size: contain;
    width: 12.5%;
    height: 24px;
    margin-top: -33%;
    margin-left: 91%;
}
.hero__order-img {
    display: flex;
    max-width: 64px;
    margin-right: 12.91px;
}
.hero__order-img img {
    width: 100%;
    object-fit: contain;
}
.hero__order-title {
    font-size: 15.59px;
    margin-bottom: 4.07px;
}
.hero__order-status {
    font-size: 9.84px;
}
.hero__order-time {
    font-size: 10.66px;
}

.hero__card {
    display: flex;
    position: absolute;
    width: 344px;
    height: 88px;
    padding: 4px 10px 4px 17px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 20px 30px 0px #4646460d;
    align-items: center;
    right: -24%;
    top: -13%;
    gap: 18px;
    /* z-index: 2; */
}

.hero__card-content {
    width: 65%;
}

.hero__card-title {
    color: #323142;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.4;
}

.hero__card-status {
    color: #323142;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
}

.hero__card-time {
    color: #acadb9;
    text-align: end;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

.hero__img-graph {
    position: absolute;
    background: #ffffff;
    height: 149px;
    width: 159px;
    bottom: -0.7%;
    left: -7%;
    border-radius: 15px;
    box-shadow: var(--shadow);
}
.hero__img-graph img {
    width: 100%;
}