:root {
    /*--general-text: #312C27;*/
}

.main {
    flex-grow: 1;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    /*color: var(--general-text);*/
    background: #F9F9F9;
}

.body--burger-opened {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 31px;
    height: 100%;
}

/* ==============Header================ */
.header {
    padding-top: 50px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter";
    color: #606060;
    font-weight: 500;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-bottom: 24px;
}
.navbar {
    display: flex;
    gap: 103px;
    align-items: center;
    flex-grow: 1;
    z-index: 2;
}

.navbar .authorization {
    display: none;
}

.logo {
    margin-right: 103px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo span {
    color: #6c5fbc;
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    line-height: 1.3;
}

.logo__img {
    max-width: 100%;
}
.navbar__list {
    display: flex;
    gap: 53px;
}

.navbar__item {
}
.navbar__link {
    padding: 15px 0;
    transition: all .5s;
}
.navbar__link:hover {
    color: #5C4EAE;
}
.authorization {
    display: flex;
    font-weight: bold;
}
.authorization__logIn {
    margin-right: 36px;
    align-self: center;
    padding: 15px 0;
}

.burger {
    display: none;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}
.burger span {
    display: block;
    position: relative;
    height: 2px;
    width: 30px;
    background: #606060;
}
.burger span::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background: #606060;
    top: 10px;
    transform: rotate(0deg);
    transition: all .5s;
}
.burger span::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background: #606060;
    top: -10px;
    transform: rotate(0deg);
    transition: all .5s;
}

.body--burger-opened .navbar {
    transform: none;
}

.body--burger-opened .burger {
    z-index: 2;
    transition: all .5s;
}

.body--burger-opened .burger span {
    background: transparent;
    transition: all .5s;
}

.body--burger-opened .burger span::after,
.body--burger-opened .burger span::before {
    top: 0;
    transition: all .5s;
}

.body--burger-opened .burger span::after {
    transform: rotate(45deg);
}

.body--burger-opened .burger span::before {
    transform: rotate(-45deg);
}

.button {
    color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 26px;
    border: 1px solid #6C5FBC;
    background: #6C5FBC;
    border-radius: 18px;
    width: 100%;
    transition: all .5s;
}
.button:hover {
    color: #6C5FBC;
    background: #F9F9F9;
}

/* ====================Modal==================== */
.modal {
    /* display: none; */
    position: fixed;
    inset: 0;
    background: #0000008a;
    padding: 25px;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    z-index: 10;
}

.body--signUp-show {
    overflow: hidden;
}
.body--logIn-show {
    overflow: hidden;
}
.body--signUp-show .modal__signUp {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}
.body--logIn-show .modal__logIn {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}
.modal__window {
    margin: 0 auto;
    display: flex;
    position: relative;
    background: #fff;
    max-width: 1440px;
    max-height: 1024px;
    justify-content: center;
}
.modal__close {
    position: absolute;
    right: 2%;
    top: 2.5%;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    padding: 15px;
    font-weight: 600;
}
.modal__content {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    line-height: 1.5;
    max-width: 778px;
    width: 100%;
    padding: 32px 48px 48px;
}

.modal__logo {
    width: 53px;
    height: 49px;
    margin-bottom: 93px;
}

.modal__form {
    max-width: 382px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 23px;
}

.modal__form-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 48px;
}
.modal__auth-type {
    margin-bottom: 33px;
    display: flex;
    gap: 21px;
}
.modal__auth-type img {
    width: 22px;
    height: 25px;
}
.modal__google-button,
.modal__apple-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    border: none;

    transition: all .3s;
}
.modal__google-button:hover,
.modal__apple-button:hover {
    border: 0;
    background: rgb(128, 128, 128, 20%);
}
.modal__form-choise {
    color: #005a6459;
    font-size: 20px;
    font-weight: 500;;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.field {
    margin-bottom: 24px;
    border-radius: 14.27px;
    background-color: #f5f5f5;
    width: 100%;
    height: 74px;
    border: 1px solid #6b5fbc00;
    transition: all .5s;
}
.field:focus {
    border: 1px solid #6C5FBC;
}
/* .field:last-child {
    margin-bottom: 39px;
} */

.field::placeholder {
    color: #c2c3cb;
    font-weight: 600;
}


.modal__label {
    display: block;
    position: relative;
}

.modal__label svg {
    position: absolute;
    top: 25.3%;
    left: 8%;
    bottom: 1%;
    width: 30px;
    display: flex;
}

.name-field,
.email-field,
.password-field {
    text-transform: uppercase;
    padding: 24px 24px 24px 79px;
}

/* .name-field {
    background: #f5f5f5 url(../img/icons/user-icon.svg) no-repeat 30px;
}
.email-field {
    background: #f5f5f5 url(../img/icons/email.svg) no-repeat 30px;
}
.password-field {
    background: #f5f5f5 url(../img/icons/lock-icon.svg) no-repeat 30px;
} */

.modal__signUp-button {
    font-size: 18px;
}
.modal__hint {
    flex-grow: 1;
    text-align: center;
    font-size: 19px;
    /* margin-bottom: 91px; */
}

.modal__hint a {
    color: #6c5fbc;
    font-weight: 700;
}

.modal__content-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
    color: #718096;
    font-weight: 500;
    align-items: center;
}

.modal__decor {
    background: url(../img/decor/modal-back.jpeg) 40%;
    padding: 308px 93px 120px 70px;
    max-width: 663px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__order {
    display: flex;
    position: absolute;
    width: 344px;
    height: 88px;
    padding: 4px 10px 4px 17px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 20px 30px 0px #4646460d;
    align-items: center;
    right: 2%;
    top: 24.1%;
    z-index: 2;
}

.modal__order-img {
    width: 110px;
    height: 79.8px;
    margin-right: 19px;
}

.modal__order-img img {
    vertical-align: text-top;
}

.modal__order-content {
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.modal__order-title {
    color: #323142;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.4;
}

.modal__order-status {
    color: #323142;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
}
.modal__order-time {
    color: #acadb9;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

.modal__img {
    position: relative;
    max-width: 360px;
    left: -5%;
}

.modal__img-graph {
    position: absolute;
    background: rgb(237, 242, 247);
    height: 149px;
    width: 159px;
    bottom: 0%;
    left: -11%;
    border-radius: 15px;
    box-shadow: 12.64px 16.85px 33.7px 0px #1a202c26;
}

.modal__img-graph img {
    width: 100%;
    height: 100%;
}
.modal__img::after {
    content: '';
}
.modal__img img{
    width: 100%;
}
.modal__decor-content {
    color: #ffffff;
    font-family: 'Manrope';
}
.modal__decor-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 75px;
}
.modal__decor-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    opacity: 0.7;
}


/* ==========Hero-section=========== */
.hero {
    padding-top: 80px;
    margin-bottom: 85px;
}
.container {
}
.hero__inner {
    display: flex;
    gap: 109px;
}
.hero__content {
    max-width: 567px;
}
.hero__title {
    font-family: 'Poppins';
    font-size: 75px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
    letter-spacing: -3px;
}
.hero__subtitle-text {
    display: inline-block;
    color: #201f1f33;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 2px;
    position: relative;
    margin-left: 74px;
    margin-bottom: 12px;
}
.hero__subtitle-text::before {
    content: '';
    border: 1px solid #201f1f;
    opacity: 0.2;
    position: absolute;
    width: 54px;
    left: -74px;
    top: 35%;
}
.dash {
    display: inline-block;
    background: #201f1f;
    height: 1px;
    max-width: 54px;
}
.hero__title span {
    color: #5c4eae
}
.hero__text {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: calc(28 / 18);
    text-align: justify;
    /* margin-bottom: 53px; */
    color: #676767;
    opacity: .7;
}
.hero__text span {
    color: #6155ae;
}
.hero__buttons {
    display: flex;
    gap: 18px;
    padding-top: 53px;
    margin-bottom: 33px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 16.27px;
    font-weight: 500;
    text-transform: capitalize;
}
.button-getStarted {
    max-width: 156px;
    max-height: 59px;
    font-size: 16px;
    flex-shrink: 0;
}
.button-goPro {
    max-width: 110.9px;
    max-height: 59px;
    flex-shrink: 0;
}
.hero__rating-trustpilot {
    display: flex;
    padding-top: 33px;
    align-items: baseline;
    gap: 20px;
}
.hero__rating {
    display: flex;
    gap: 9px;
    flex-shrink: 0;
}

.hero__rating svg {
    max-width: 16px;
}
.hero__rating-logo {
}
.hero__rating-stars {
}
.hero__dish {
    max-width: 429px;
    width: 100%;
    margin-right: 125px;
    padding-top: 45px;
}

.hero__img {
    position: relative;
}
.hero__img::before {
    content: '';
    background: linear-gradient(137.14deg, #6c5fbc 4.832%,#5144a0 98.221%);
    height: 100%;
    width: 100%;
    top: -6%;
    left: 6%;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}

.hero__img::after {
    content: '';
    background: url(../img/decor/Arrow1.svg) no-repeat center;
    height: 100%;
    width: 100%;
    top: -29%;
    right: -59%;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}

.hero__card {
    display: flex;
    position: absolute;
    width: 344px;
    height: 88px;
    padding: 4px 10px 4px 17px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 20px 30px 0px #4646460d;
    align-items: center;
    right: -24%;
    top: -13%;
    gap: 18px;
    /* z-index: 2; */
}

.hero__card-content {
    width: 65%;
}

.hero__card-title {
    color: #323142;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.4;
}

.hero__card-status {
    color: #323142;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
}

.hero__card-time {
    color: #acadb9;
    text-align: end;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

.hero__img-graph {
    position: absolute;
    background: #ffffff;
    height: 149px;
    width: 159px;
    bottom: -0.7%;
    left: -7%;
    border-radius: 15px;
    box-shadow: 12.64px 16.85px 33.7px 0px #1a202c26;
}
.hero__img-graph img {
    width: 100%;
}

/* =============Statistic============= */
.stat {
    position: relative;
    background: #5C4EAE;
    overflow: hidden;
    margin-bottom: 103px;
}
.stat__decor-svg:first-child {
    position: absolute;
    top: -102%;
    left: -3.9%;
}
.stat__decor-svg:last-child {
    position: absolute;
    top: -51.5%;
    right: -9.5%;
}
.stat__inner {
    padding: 57px 0px 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat__column {
    text-align: center;
    padding: 0px 10px;
    border-right: 1px solid #c4c4c423;
    max-width: 357px;
    width: 100%;
}
.stat__column:last-child {
    border-right: none;
}
.stat__value {
    display: block;
    color: #ffffff;
    font-family: 'Public Sans';
    font-size: 43.2px;
    font-weight: 700;
    line-height: calc(54 / 43.2);
    margin-bottom: 7px;
}
.stat__description {
    color: #c5bfed;
    font-family: 'Inter';
    font-size: 14.4px;
    font-weight: 500;
    line-height: calc(21.6 / 14.4);
}
/* =============Application============= */
.application {
    font-family: 'Inter';
}
.application__inner {
    display: flex;
    gap: 110px 90px;
    align-items: center;
    padding: 0 0px 85px 111px;
    justify-content: space-between;
    border-bottom: 0.71px solid #cbcbcb;
    margin-bottom: 100px;
}
.application__img {
    position: relative;
    max-width: 364px;
    padding: 0 30px;
    width: 100%;
}
.application__img img {
    width: 100%;
}
.application__content {
    max-width: 546px;
}
.application__content-title {
    font-family: 'Poppins';
    font-size: 50.92px;
    font-weight: 700;
    line-height: calc(58.2 / 50.92);
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 63px;
}
.application__content-list {
    list-style: disc;
    margin-bottom: 66px;
    padding-left: 32px;
}
.application__content-text {
    color: #676767;
    font-size: 20.33px;
    font-weight: 400;
    line-height: calc(30.5 / 20.33);
    text-align: left;
    margin-bottom: 28px;
}

.application__content-title span {
    color: #6c5fbc;
}

.application__content-text:last-child {
    margin-bottom: 0;
}
.application__button {
    position: relative;
    display: flex;
    gap: 20px;
    max-width: 186px;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 18.06px;
    font-weight: 500;
    line-height: calc(22.58 / 18);
}

.application__img::before {
    transform: scale(-1, 1) rotate(14deg);
    position: absolute;
    pointer-events: none;
    bottom: -3%;
    width: 169px;
    height: 60px;
    right: -44%;
    content: '';
    background: url(../img/decor/Arrow2.svg) center no-repeat;
}

.application__button svg path {
    transition: all .5s;
}

.application__button:hover svg path {
    stroke: #6C5FBC;
}

.application__button svg {
    flex-shrink: 0;
}

.application__img::after {
    position: absolute;
    width: 38px;
    height: 33px;
    top: -1%;
    right: -3%;
    content: '';
    background: url(../img/decor/mobileBlows1.svg) center no-repeat;
    background-size: cover;
}

/* =============Restaurants============= */
.restaurants {
    font-family: 'Poppins';
}

.restaurants__inner {
    /* display: flex;
    flex-direction: column; */
    padding-bottom: 120px;
    margin-bottom: 105px;
    border-bottom: 1px solid #cbcbcb;
}
.restaurants__title {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 60px;
    text-align: center;
}
.restaurants__title span {
    color: #6c5fbc;
}
.restaurants__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px 21px;
    margin-bottom: 65px;
}
.card {
    overflow: hidden;
    border-radius: 21.35px;
    max-width: 396px;
    width: 100%;
    max-height: 298px;
    height: 100%;
    border: 1.25px solid #f4f4f6;
    border-radius: 30.02px;
    justify-self: center;
    align-self: center;
    box-shadow: 5.95px 71.35px 35.67px 0px #e5e5e5b3;
}
.card__img {
    overflow: hidden;
    max-height: 176px;
}

.card__img img {
    width: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10.93px 26.73px 18px 34px;
}
.typeLabel--orange {
    padding: 3px 8px 2px;
    color: #daa31a;
    font-family: 'Poppins';
    font-size: 12.78px;
    line-height: calc(19 / 12.78);
    border-radius: 5.4px;
    background: rgb(247, 237, 208);
}
.typeLabel--red {
    background: #f7c5ba;
    color: #fb471d;
    padding: 3px 8px 2px;
    font-family: 'Poppins';
    font-size: 12.78px;
    line-height: calc(19 / 12.78);
    border-radius: 5.4px;
}
.typeLabel--green {
    background: #34ad6433;
    color: #309d5b;
    padding: 3px 8px 2px;
    font-family: 'Poppins';
    font-size: 12.78px;
    line-height: calc(19 / 12.78);
    border-radius: 5.4px;
}

/* .card:nth-child(2) .card__restaurant-type {
    background: #f7c5ba;
    color: #fb471d;
} */
.card__restaurant-title {
    color: #323142;
    font-family: 'Poppins';
    font-size: 25.79px;
    font-weight: 600;
    line-height: calc(41.9 / 25.79);
}
.card__restaurant-description {
    display: inline-flex;
    color: #8e97a6;
    font-family: 'Manrope';
    font-size: 19.34px;
    line-height: calc(25.79 / 19.34);
}
.card__restaurant-time {
}
.card__restaurant-rating {
}
.card__restaurant-rating img {
    width: 25px;
    height: 26px;
}
.card__restaurant-favor {
    display: inline-flex;
    background: #dbd9ee;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}

.card__restaurant-favor svg {
    max-width: 15px;
    max-height: 19px;
}

.viewAll {
    display: flex;
    align-items: center;
    justify-content: end;
    align-self: end;
    gap: 20px;
    color: rgb(172, 173, 185);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: calc(45.18 / 20);
    letter-spacing: -0.3px;
    margin-left: auto;
    max-width: 114px;
}

/* =============Dishes============= */
.dishes__inner {
    padding-bottom: 120px;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 100px;
}
.dishes__title {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 76px;
    text-align: center;
}
.dishes__title span {
    color: #6c5fbc;
}
.dishes__swiper {
}
.swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
}
.slide {
    display: flex;
    justify-content: center;
}
.swiper-wrapper {
    margin-bottom: 100px;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    transition-property: transform;
    display: block;
}
.foodCard {
    /* max-height: 390px; */
    height: 100%;
    max-width: 224px;
    border: 1.44px solid #f4f4f6;
    border-radius: 34.58px;
    box-shadow: -14.15px 2.18px 67.09px 0px rgba(229, 229, 229, 0.7);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 37px 23px 31px;
}
.foodCard__img {
    max-width: 183px;
}
.foodCard__img img {
    width: 100%;
    max-height: 169px;
}
.foodCard__content {
    margin-bottom: 11px;
    overflow: hidden;
}
.foodCard__food-type {
}
.foodCard__food-title {
    color: #323142;
    font-family: 'Poppins';
    font-size: 23.05px;
    font-weight: 600;
    line-height: calc(37.46 / 23.05);
    max-height: 115px;
    overflow: hidden;
}
.foodCard__food-description {
    display: flex;
    gap: 10px;
}
.foodCard__food-time {
}
.foodCard__food-rating {
}

.foodCard__addCart {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
.foodCard__addCart-price {
    font-family: 'Manrope';
    font-size: 25px;
    font-weight: 700;
    line-height: calc(40.34 / 25);
    color: #323142;
}
.foodCard__addCart-price span {
    font-size: 18.81px;
    color: #8e97a6;
}
.foodCard__addCart-plus {
    display: flex;
    border-radius: 8.93px;
    background: #323142;
    width: 44px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
/* .slide:last-child {
    text-align: center;
} */
.slider__card {
}
.restaurants__viewAll {
}
.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-pagination {
}
.dish__bullet--active {
    background: #5C4EAE;
    opacity: 1;

    transition: all .5s
}

/* =============Footer============== */
.footer {
    background: #eaeaea;
    font-family: 'Inter';
    font-size: 17px;
    color: #999999;
}

.footer__inner {
}

.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 25px 10px;
    padding: 96px 0 28px 0;
    align-items: center;
    border-bottom: 1px solid #82828240;
}

/* .footer__top:last-child {
    display: inline-block;
} */

.footer__top>.footer__column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer__top .footer__column:last-child {
    display: none;
}

.footer__logo {
    max-width: 150px;
    gap: 15px;
    margin-right: 0;
}

.footer__logo span {
    font-size: 28.52px;
    font-weight: 600;
}

.footer__img-wrapper {
    width: 62px;
}

.footer__logo-img {
    width: 100%;
}

.logo__img {
}

.footer__nav {
}

.footer__nav-list {
    display: flex;
    color: #606060;
    gap: 70px;
    font-weight: 500;
    line-height: calc(26 / 17);
    text-transform: uppercase;
}

.footer__nav-item {
}

.footer__nav-link {
}

.footer__top .socials {
    display: none;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 57px 0 81px 0;
}
.footer__copyright {
    font-weight: 500;
    line-height: calc(25 / 17);
}
.socials {
}
.socials__list {
    display: flex;
    gap: 53px;
    align-items: center;
}
.socials__item {
}
.socials__link path {
    transition: all .5s;
}
.socials__link:hover path {
    fill: #5C4EAE;
}



/* ===============Media================ */
/* ===============Media================ */
/* ===============Media================ */
/* =============Tablet============= */
@media (max-width: 1100px) {
/* =============Header============= */
    .navbar__list {
        gap: 38px;
    }

/* =============Modal============= */
    .modal__close {
        color: #000
    }

    .modal__content {
        padding: 32px 25px 48px;
    }

    .modal__logo {
        margin-bottom: 40px;
    }

    .modal__content-footer {
        justify-content: space-around;
    }

    .modal__decor {
        display: none;
    }

/* =============Hero============= */
    .hero__inner {
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .hero__title {
        font-size: 53.33px;
        margin-bottom: 11px;
    }
    .hero__text {
        text-align: center;
    }
    .hero__card-content {
        text-align: start;
    }
    .hero__rating-trustpilot {
        justify-content: center;
        padding-top: 23px;
    }
    
    .hero__buttons {
        justify-content: center;
        padding-top: 37px;
    }

/* =============Application============= */
    .application__inner {
        flex-direction: column-reverse;
        margin-bottom: 71px;
    }

    .application__content-title {
        text-align: center;
    }

    .application__button {
        margin: 0 auto;
        justify-content: space-between;
    }

    .application__inner {
        padding: 0 0px 85px 0px;
    }

    .application__button::after {
        bottom: -110%;
        right: 82%;
        transform: rotate(124deg);
        content: '';
        background: url(../img/decor/Arrow2.svg) center no-repeat;
    }

    .application__img::before {
        transform: scale(1, 1) rotate(105deg);
        position: absolute;
        bottom: 0;
        top: -14%;
        width: 169px;
        height: 60px;
        right: 67%;
        content: '';
    }

/* =============Restaurants============= */
    .restaurants__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .card__content {
        padding: 10.93px 19px 18px 24px;
    }


}

@media (max-width: 850px) {
/* =============Header============= */
    .header {
        padding-top: 25px;
    }

    .burger {
        display: flex;
    }

    .authorization {
        margin-right: 30px;
    }

    .navbar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        min-width: 60%;
        transform: translateX(112%);
        transition: all .5s;
        align-items: start;
        justify-content: left;
        padding: 125px 30px 0 30px;
        background: #ffffff;
        font-size: 25px;
    }

    .navbar__list {
        flex-direction: column;
        gap: 25px;
    }

    .navbar__logo {
        flex-grow: 1;
        margin-right: 0;
    }

/* =============Statistic============= */
    .stat__value {
        font-size: 43px;
        line-height: calc(54 / 43);
    }
    
    .stat__description {
        font-size: 14px;
        line-height: calc(21 / 14);
    }

/* =============Footer============= */

    .footer__nav-list {
        display: flex;
        gap: 30px;
        font-weight: 500;
        line-height: calc(26 / 17);
    }

/* =============Restaurants============= */
    .restaurants__list {
        grid-template-columns: repeat(1, 1.36fr);
    }

    
}

/* ========================== */
@media (max-width: 650px) {
/* =============Statistic============= */
    .stat__inner {
        flex-direction: column;
    }

    .stat__column {
        padding: 60px 10px;
        border-right: none;
        border-bottom: 1px solid #c4c4c426;
    }

    .stat__column:last-child {
        border-bottom: none;
    }

    .stat__decor-svg:first-child {
        top: -47%;
        transform: rotate(98deg);
    }

    .stat__decor-svg:last-child {
        top: 65.5%;
        right: -36.5%;
        transform: rotate(357deg);
    }

/* =============Application============= */
    
/* =============Footer============= */
    .footer__top {
        flex-direction: row;
        align-items: start;
        gap: 57px 15px;
        padding-left: 0;
    }

    .footer__nav-list {
        flex-direction: column;
    }

    .footer__img-wrapper {
        width: 40px;
    }

    .footer__logo span {
        font-size: 21px;
    }

    .footer__bottom {
        justify-content: center;
    }

    .footer__bottom .socials {
        display: none;
    }

    .footer__top .socials {
        display: flex;
        justify-content: flex-end;
    }

    .socials__list {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .footer__top>.footer__column {
        align-items: flex-start;
        gap: 57px;
        flex-direction: column;
    }

    .footer__top .footer__column:last-child {
        display: block;
        padding-top: 2.8%;
    }

}

@media (max-width: 500px) {
/* =============Header============= */
    .navbar__logo {
        flex-grow: 0;
    }

    .authorization {
        display: none;
    }

    .navbar .authorization {
        display: flex;
    }
    
/* =============Modal============= */
    .modal__content-footer {
        font-size: 13px;
    }

    .modal__form-title {
        font-size: 28px;
        margin-bottom: 38px;
    }

    .modal__auth-type {
        margin-bottom: 27px;
        gap: 17px;
    }

    .modal__form-choise {
        font-size: 16px;
        margin-bottom: 29px;
    }

    .modal__content-footer {
        flex-direction: column;
        padding-top: 50px;
    }

    .modal__hint {
        font-size: 15px;
    }

    .name-field,
    .email-field,
    .password-field {
        margin-bottom: 20px;
        height: 60px;
        padding: 20px 20px 20px 79px;
    }

    .password-field {
        margin-bottom: 31px;
    }

    .modal__form {
        margin-bottom: 18px;
    }

/* =============Restaurants============= */
    .card__restaurant-title {
        font-size: 20px;
    }

    .card__restaurant-favor {
        width: 30px;
        height: 30px;
    }

    .card__restaurant-favor svg {
        max-width: 10px;
        max-height: 14px;
    }
}

@media (max-width: 420px) {
    
}

@media (max-width: 350px) {
/* =============Header============= */
    .navbar .authorization {
        flex-direction: column;
    }
    .navbar .authorization__logIn {
        align-self: flex-start;
    }

/* =============Modal============= */
    .modal__form-title {
        font-size: 27px;
    }

    .modal__hint {
        font-size: 13px;
    }

/* =============Restaurants============= */
    .restaurants__title {
        font-size: 39px;
    }
    .restaurants__title span {
        word-wrap: break-word;
    }

/* =============Footer============= */
    .footer__copyright {
        font-size: 14px;
    }
}